:root{
    /* colors */
    --brg-color: #2167bd;
    --text-color: white;
    --heading-brg: #388eea;
    --heading-text: black;
    --box-maybe: #93dbbd;
    --box-text: black;
    --hover-text: #901d1d;

    /* fonts and whatnot */
    --font-body: Arial, sans-serif;
    --font-header: "Rambla", sans-serif;
    --font-size: 20px;
    --smaller: 0.75em;
    --bigger: 1.15em;
    --header: 2em;
}

/* .rambla-regular {
    font-family: "Rambla", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rambla-bold {
    font-family: "Rambla", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.rambla-regular-italic {
    font-family: "Rambla", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.rambla-bold-italic {
    font-family: "Rambla", sans-serif;
    font-weight: 700;
    font-style: italic;
} */

body {
    margin: 0;
    margin-bottom: 100px;
    font-family: var(--font-body);
    font-size: var(--font-size);
    background-color: var(--brg-color);
}

header {
    background-color: var(--heading-brg);
    font-family: var(--font-header);
    color: var(--heading-text);
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: var(--header);
}

header h1 {
    margin: 0px;
}

#welcome {
    color: var(--text-color);
    text-align: center;
}

h3 {
    margin: 0px;
    font-size: var(--bigger);
}

a {
    text-decoration: none;
    color: var(--box-text);
    width: 100%;
    padding-left: 2.2%;
}

a:hover {
    color: var(--hover-text);
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

#works {
    display: grid;
    align-items: center;
    justify-items: center;
}

#works-shown {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
  background-color: var(--box-maybe);  
  padding: 15px;
  margin: 10px;
  width: 95%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.description{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.bolton{
    background-color: var(--box-maybe);
    margin-left: 3.4em;
    margin-bottom: 1em;
}

.bolton:active{
    background-color: var(--hover-text);    
}

.bolton:hover{
    cursor: pointer;
}

footer {
    text-align: center;
    background-color: var(--heading-brg);
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}